* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

$font-title: "Shrikhand", cursive;
$text-desc: #353535;
$color-primary: #9356dc;
$color-secondary: #ff79da;
$shadow-card: rgba(0, 0, 0, 0.25) 0px 15px 30px -12px;

.header {
  &__head {
    align-items: center;
    > img {
      text-align: center;
      width: 200px;
      padding: 1.5rem 0 1rem 0;
    }
  }
}

// Footer

.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 1.8rem 1.8rem 4rem 1.8rem;
  > h2 {
    padding-bottom: 1rem;
    transition-duration: 0.2s;
    width: fit-content;
    > a {
      text-decoration: none;
      color: white;
      font-family: $font-title;
      font-weight: 100;
      font-size: 1.5em;
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.02);
      transition-duration: 0.2s;
      background-image: linear-gradient(
        to right,
        $color-secondary,
        $color-primary
      );
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    line-height: 2rem;
    > a {
      text-decoration: none;
      color: white;
      transition-duration: 0.2s;
      width: fit-content;
      > i {
        font-size: 18px;
      }
      > .fa-utensils {
        padding-right: 1rem;
      }
      > .fa-hands-helping {
        padding-right: 0.55rem;
      }
      &:hover {
        color: $color-primary;
        transition-duration: 0.2s;
      }
    }
  }
}
